# Ignore VSCode settings
.vscode/
compile_flags.txt
.clangd

# Ignore build outputs
/build/
*.exe
*.dll

# Ignore system files
.DS_Store
Thumbs.db

# Ignore glad and KHR files and directories
/src/glad.c
/include/glad/
/include/KHR/

# Ignore installation files
google-cloud-cli-441.0.0-darwin-arm.tar.gz

# Ignore generated binaries
asio_fixes