# Ignore VSCode settings
.vscode/

# Ignore build outputs
/build/
*.exe
*.dll

# Ignore system files
.DS_Store
Thumbs.db

# Ignore glad and KHR files and directories
/src/glad.c
/include/glad/
/include/KHR/